<div class='jumbotron left-show'>
	<h2>Welcome To Moospace.co!</h2>
	<h2>
	Our Mission is to connect hungry people<br>
	with local and regional farmers so that they can<br>
	eat well, eat local, and make friends!</h2>
	<br>
	<ol>
		<li>Go to the products page and choose what looks tastiest</li>
		<li>Drag the farmer thumbnails from the index to the bottom bar for a closer look</li>
		<li>Click your favorite farmers and visit their profile pages, <br>
		where you can have a closer look at their products, and learn how to contact them</li>
	</ol>
	<h3>Thats it! Have Fun, make friends, eat well!</h3>
	
	</div