<div class='jumbotron left-show'>
	<h2>Welcome To Moospace.co!</h2>
	<h2>
	The data for this site comes from the FDA listing of <br>
	Farmer's Markets across the nation. <br>
	</h2>
	<p> User information and the FDA data <br>
	are served from a rails backend <br>
	The FDA data was imported from CSV using ruby.<br>
	</p>
	<p> The front end was built with backbone, and the <br>
	graph is built with D3.
	</p>
	<p>
	The site has been through many iterations, view source code
	<a href="https://github.com/crododile/market">here</a>
	</p>
</div>