<label> NAME
<input type="text" name="farmer[name]" value="<%=farmer.escape('name')%>">
</label>
<br>
<label> AREAS SERVED (ZIPCODES AS CSV)
  <input type="text" name="farmer[zipcodes]" value="" id="z">
</label>
<button class='make-farmer'>ADD FARMER INFORMATION</button>
