<h1><%= farmer.escape('name') %></h1>

<%= farmer.escape('bio') %>
<ul>PRODUCT TYPES
<% farmer.product_types().each(function(pt){ %>
  <li><%=pt.escape('name') %>
  <ul>SPECIFIC PRODUCTS
    <% farmer.products().each(function(product){ %>
      <% if ( product.get('product_type_id') === pt.get('id') ){ %>
      <li><%= product.escape('description') %> </li>
      <%}%>
    <% }) %>
  </ul>
  <% })%>
</ul>
<br>
<div class='add-product'>
<button class='add-product'>ADD A PRODUCT</button>
</div>
