<ul class='nav nav-pills favorite-farmers connected-lists'>
  <% shopper.favorite_farmers().each(function(farmer){ %>
    <li class='farmer-thumbnail'>
      <%=farmer.escape('product_favorited') %>
    </li>

  <% })%>

</ul>
