// Place all the styles related to the farmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pac-container {
    z-index: 19999999999 !important;
}

.favorites-bar {
  width: 100%;
  bottom: 0;
  border-top: solid 1px #000;
}

.main-nav{
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  display: block;
  border-bottom: solid 1px #000;
  background: rgba(255, 255, 255, 0.3);
}

.lamb{
  color: white;
  background-color: blue;
  opacity: 0.3;
}

.rounded-corners{
  -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.delete-button {
  position:absolute;
  top:0px;
  right:0px;
  height:10px;
  width:10px;
}

.farmer-thumbnail{
  width: 120px;
  height: 120px;
  margin: 0 20px 15px 0;
  margin-bottom: 0;
  position: relative;
  float: left;
  background: rgba(255, 255, 255, 0.3);
}

#map-canvas{
  width: 80%;
  height: 300px;
}

.thumbnail-fname{
  display: inline;
  color: black;
}

.thumbnail-product{
  color: white;
  opacity: 1;
  font-weight: bold;
}

.thumbnail-product.lamb{
  background-color: blue;
}

.vegetables{
  opacity: 0.3;
  background-color: green;
}

.connected-lists{
  min-height:10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap
}

.product-list{
  width: 90%;
  height: 160px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap
}

::-webkit-scrollbar {
height: 10px;
opacity: 0.5;
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 10px;
display: block;
}

::-webkit-scrollbar-track-piece {
background-color: transparent;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
width: 20px;
opacity: 0.5;
background-color: rgba(255, 255, 255, 0.6);
-webkit-border-radius: 6px;
}

.product-list li{
  display: inline-block;
}



body{
  background:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQQmJMxxya9H_DP-Gzv6eeAVHqdjRvbP3Qd6I3sepcAi4A9G7vqpA)
  no-repeat center center fixed;
//  background: url(http://img.mi9.com/landscape/5026/national-geographic-chicken-farm-animals_1600x1200_94488.jpg);
  background-size: cover;
}