// Place all the styles related to the farmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//this is to make sure autocomplete field is above the modal
.pac-container {
    z-index: 19999999999 !important;
}

.plz{
	color: white;
	font-weight: bold;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	font-size: 1.5em;
}

.right-of-map{
	position: absolute;
	top: 151px;
	right: 0px;
	overflow: auto;
	width: 20%;
	background-color:grey;
	bottom:130px;
}

.map-canvas{
	width:80%;
	top:151px;
	position:absolute;
	left:0px;
	padding-left:0px;
	padding-right:0px;
	bottom:130px;
}

.add-map{
  display:none;
}

.close-map{
	display:none;
}

.thumbnail-tab{
	width: 280px;
	border: 2px solid black;
	float:left;
	margin: 2px;
}

.jumbotron{
  background:transparent;
}

.farmer-tabs{
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
  overflow-y: scroll;
  max-height: 500px;
  margin-bottom: 300px;
}

.left-show{
  -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
  overflow-y: scroll;
  position:fixed;
	background-color: lightblue;
  top: 50px;
  bottom:130px;
}

.right-show{
  -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
  overflow-y: scroll;
  position:fixed;
  right: 0px;
  top: 50px;
  bottom:130px;
	background-color: lightblue;
}

.avatar{
  width: 200px;
  height: 200px;
}

.picture-spot{
  width:250px;
  height: 250px;
  
  float: right;
}

.picture{
  width: 100%;
  height:100%;
}

.main-nav{
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 0px;
  position: relative;
  display: block;
  border-bottom: solid 1px #000;
  background: rgba(255, 255, 255, 0.3);
}

.rounded-corners{
  -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

.delete-button {
  position:absolute;
  top:0px;
  right:0px;
  height:20px;
  width:30px;

  -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
}

.visit-button  {
  position:absolute;
  top:0px;
  left:0px;
  height:20px;
  width:60px;

  -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
}

#map-canvas{
  margin-bottom: 5px;
}

#map-canvas{
  width: 80%;
  height: 300px;
  float: left;
}

::-webkit-scrollbar {
height: 10px;
opacity: 0.5;
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 10px;
display: block;
}

::-webkit-scrollbar-track-piece {
background-color: transparent;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
width: 20px;
opacity: 0.5;
background-color: rgba(255, 255, 255, 0.6);
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
width: 20px;
opacity: 0.5;
background-color: rgba(255, 255, 255, 0.6);
-webkit-border-radius: 6px;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
  display: block;
  background: url("./marketpics/best.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

