// Place all the styles related to the mrkts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#graph-container{
	background-color: white;
	width:100%;
	height:100%;	
}

rect.bar {
   fill: #ccf;
   stroke: #000;
 }
 
.market-attendees{
	background-color: lightblue;
}

.market-products{
	text-align: center;
}

.market-address{
	text-align: center;
}

.about{
	color: #006633;
	a{
		color: #6600FF;
		font-weight: bold;
	}
}

.guest-button{
	margin-right: -40%;
}

.splash-title{
	text-align: center;
	font-size: 5em;
	color: teal;
	margin-top: -5px;
}

.splash-text{
	text-align: center;
	color: teal;
	margin-left: 80px;
	margin-top: -5px;
}

.signers{
	margin-top: 12px;
	text-align: center;
}

.graph-title{
	margin-left: 200px;
}

.market-info{
	text-align:center;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
		color: #006633;
}

.market-tab{
	background-color: 'eggshell';
	border: 5px black;
	a {
		color: navy;
	}
}

.disclaimer{
	text-align: center;
}

.market-title{
	text-align: center;
	color: teal;
}


