// Place all the styles related to the mrkts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.market-info{
	text-align:center;
}

.market-tab{
	background-color: 'eggshell';
	border: 5px black;
	a {
		color: black;
	}
}

