// Place all the styles related to the product_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list{
  width: 90%;
  height: 160px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap
}

.button-width{
  width: 200px;
  float: left;
  margin:1px 1px 1px 1px;
}

.pt-area{
  width:100%;
  height: 610px;
  overflow: auto;
}

.go-to-market{
  height:150px;
  font-weight: bold;
  float:left;
}

#index-map{
  float: right;
  margin-right: 8%;
}

.btn-pork{
    background-image: url("./marketpics/pork.jpg");
    background-size: contain;
}

.btn-corn{
    background-image: url("./marketpics/corn.jpg");
        background-size: contain;
}

.btn-poultry{
    background-image: url("./marketpics/chicken.jpg");
        background-size: contain;
}
.btn-pumpkin{
    background-image: url("./marketpics/pumpkins-squash.jpg");
        background-size: contain;
}

.btn-lamb{
    background-image: url("./marketpics/lamb.jpg");
        background-size: contain;
}

.btn-pork{
    background-image: url("./marketpics/pork.jpg");
        background-size: contain;
}

.btn-tomatoes{
    background-image: url("./marketpics/tomatoes.jpg");
        background-size: contain;
}
.btn-lettuce{
  background-image: url("./marketpics/lettuce.jpg");
      background-size: contain;
}

.btn-greens{
  background-image: url("./marketpics/greens-other.jpg");
      background-size: contain;
}


