// Place all the styles related to the product_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list{
  width: 90%;
  height: 160px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap
}

.product-list-item{
  display: inline-block;
}

div.directions{
  text-align: center;
}

div.index-map-container{
  text-align: center;
  margin-bottom: 250px;
}

.ind-map-button{
  margin-left: 50%;
  margin-right: 50%;
}

.button-width{
  width: 200px;
  float: left;
  margin:1px 1px 1px 1px;
}

.pt-area{
  width:100%;
  height: 610px;
  overflow: auto;
  margin-bottom: 160px;
}

.s-pt-area{
  text-align: justify;
     -ms-text-justify: distribute-all-lines;
     text-justify: distribute-all-lines;
   width: 100%;
}

.s-market-button{
  vertical-align: top;
     display: inline-block;
     width: 16%;
     text-align: center;

}

.go-to-market{
  height:150px;
  font-weight: bold;
  float:left;
}

#index-map{
  float: right;
  margin-right: 8%;
  margin-bottom:250px;
}

.placeholder{
  background-image: url("./marketpics/smileyfarmer.jpg");
  background-size: contain;
}

.go-to-market span{
  display: none;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-shadow: -1px 1px black, -1px 1px black, 1px 1px black, 1 -1px black;
}




.btn-fruit{
    background-image: url("./marketpics/fruit.jpg");
    background-size: contain;

}

.btn-squash{
    background-image: url("./marketpics/squash.jpg");
    background-size: contain;
}

.btn-goat{
    background-image: url("./marketpics/goat.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-beef{
    background-image: url("./marketpics/beef.jpg") ;
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-pork{
    background-image: url("./marketpics/pork.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-eggplant{
    background-image: url("./marketpics/eggplant.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-corn{
    background-image: url("./marketpics/corn.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-poultry{
    background-image: url("./marketpics/chicken.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}
.btn-pumpkin{
    background-image: url("./marketpics/pumpkins-squash.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-lamb{
    background-image: url("./marketpics/lamb.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-pork{
    background-image: url("./marketpics/pork.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}

.btn-tomatoes{
    background-image: url("./marketpics/tomatoes.jpg");
    background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
}
.btn-lettuce{
  background-image: url("./marketpics/lettuce.jpg");
  background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.btn-greens{
  background-image: url("./marketpics/greens-other.jpg");
  background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.down-arrow{
  image: url("./marketpics/curved-arrow-bright-green-md.png");
}


