<p class='disclaimer'>Ahoy, Please be patient, we are loading lots of data and it may take a few moments </p>
<div class='map-canvas' id="index-map">
<div class='loading-image'>
</div>
</div>


<div class='right-of-map'>
  <form class='zip-form'>
    <label> Change Location
      <input id='autocomplete' type='text'></input>
    </label>
  </form>
  <div class='show-area'>
	<% Mrkts.each(function (market) { %>
	  <div class='market-tab' data-marketname="<%=market.escape('id')%>">
		  <a href=<%="#mrkts/"+ market.escape('id')%>>
				<%= market.escape('marketname') %>
			</a>
		</div>
	<% }) %>
	</div>
</div>