
<div class='map-canvas' id="index-map">
</div>

<div class='right-of-map'>
  <form class='zip-form'>
    <label> Change Location
      <input id='autocomplete' type='text'></input>
    </label>
  </form>
  <div class='show-area'></div>
</div>