<h1> FARMERS FOR <%= pt.escape('name') %> </h1>
<button class="leaveMarket">LEAVE THIS MARKET</button>
<ul class="connected-lists">
  <% ptFarmers.each(function(farmer){ %>
    <li class='farmer-thumbnail'> <a href="#farmers/<%= farmer.escape('name') %>"><%= farmer.escape('name') %> </li>
  <% })%>
</ul>