<h1> FARMERS FOR <%= pt.escape('name') %> </h1>
<button class="leaveMarket">LEAVE THIS MARKET</button>
<ul>
  <% ptFarmers.each(function(farmer){ %>
    <li> <%= farmer.escape('name') %> </li>
  <% })%>
</ul>