<label> PRODUCT-TYPE (ONLY TOLERATES EXISTING TYPES)
<input type="text" name="product_type[name]" value="<%=productT.escape('name')%>">
</label>
<br>
<label> DESCRIPTION (unique to maker, added to listing)
  <textarea name="product_listing[description]"
     placeholder="Think vivid!"></textarea>
</label>
<button class='make-product'>ADD PRODUCT DESCRIPTION</button>
