<label> PRODUCT-TYPE (can be new, add dropdown of old ones)
<input type="text" name="product_type[name]" value="<%=productT.escape('name')%>">
</label>
<br>
<label> DESCRIPTION (unique to maker, added to listing)
  <input type="text" name="product_listing[description]">
</label>
<button class='make-product'>ADD PRODUCT INFORMATION</button>
