<div class='form-group'>
<label> PRODUCT-TYPE
<select name="product_type[name]">

	<% pTs.each(function(pt){ %>
		<option value="<%=pt.escape('name')%>"><%=pt.escape('name')%></option>
	<% }) %>

</select>
</label>
<br>
<label> VARIETY
  <input class='form-control' name="product_listing[variety]"
  placeholder="Think vivid!"></input>
</label>
<br>
<label> DESCRIPTION
  <input type="text" class='form-control' name="product_listing[description]"
  placeholder="Think vivid!"></input>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary make-product">Save changes</button>
</div>
