<label> PRODUCT-TYPE (ONLY TOLERATES EXISTING TYPES)
<input type="text" name="product_type[name]" value="<%=productT.escape('name')%>">
</label>
<br>
<label> VARIETY (unique to maker, added to listing)
  <input name="product_listing[variety]" placeholder="Think vivid!"
  value="<%=productT.escape('description')%>"></input>
</label>
<label> DESCRIPTION (in depth shit)
  <input type="text" name="product_listing[description]" value="">
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary make-product">Save changes</button>
</div>
