<h1>PRODUCT TYPES</h1>
<ul>
<% product_types.each(function(product_type){ %>
  <li class="<%=product_type.escape('name')%>">
    <button class="goToMarket">
      <%=product_type.escape('name')%>
    </button>
  </li>
<% }) %>
</ul>