<row>
<div class='col-md-6'>
  <h1>PRODUCT TYPES</h1>
  <form class='zipform'>
    <label>INPUT ZIP FOR FILTER
      <input type="text" name="zipfilter" value="ALL" class="zipfilter">
    </label>
    <button class='zipfilter'>FIND LOCAL FARMERS</button>
  </form>

   <div class='pt-area'>
  <% product_types.each(function(product_type){ %>
      <div class="<%=product_type.escape('name')%> button-width" data-type="<%=product_type.escape('name')%>">
        <button class="go-to-market btn btn-block btn-<%=product_type.escape('name')%>">
          <%=product_type.escape('name')%>
        </button>
      </div>
  <% }) %>
    </div>
</div>

<div class='right col-md-6' >
  <div class='show-area'>

  </div>

 <button class='btn btn-success add-map'>ADD MAP</button>
  <div class='map-canvas' id="index-map">
  </div>

</div>

</row>