<h1>PRODUCT TYPES</h1>
<ul>
<% product_types.each(function(product_type){ %>
  <li>
    <button class="<%=product_type.escape('name')%>">
      <%=product_type.escape('name')%>
    </button>
  </li>
<% }) %>
</ul>