

<div class='container-fluid'>
  <% product_types.each(function(product_type, x){ %>
        <div class="s-market-button market-button 
			<%=product_type.escape('name')%> button-width"
	           data-type="<%=product_type.escape('name')%>">
	        <button class="go-to-market helper 
		   	  btn btn-block btn-<%=product_type.escape('name')%>">
	          <span> <%=product_type.escape('name')%> </span>
	        </button>
        </div>

  <% }) %>
</div>


    <div class='container-fluid'>
 

          <div class=''>
		      <button class='btn btn-success 
			  ind-map-button add-map'>ADD MAP</button>
              
			  <div class='map-canvas' id="index-map">
              </div>
	
	     </div>	  
<div class='right-of-map'>
		   <form class='zip-form'>
			 <label> Change Location
	 		   <input id='autocomplete' type='text'></input>
	 		 </label>
	       </form>
	 	   <div class='show-area'></div>
 	
	 	  </div>
		  </div>
    </div>




    <row class='container-fluid'>
      <div class='col-xs-3'></div>
      <div class='col-xs-6'>

       </div>
      <div class='col-xs-3 down-arrow'>
		
	  </div>
    </row>

