<ul class='nav nav-tabs nav-justified'>
  <% product_types.each(function(product_type){ %>  
        <li class="<%=product_type.escape('name')%>"
		data-type="<%=product_type.escape('name')%>">
	       <a class='plz'> <%=product_type.escape('name')%> </a>
        </li>
  <% }) %>
</ul>

<div class='map-canvas' id="index-map">
</div>

<div class='right-of-map'>
  <form class='zip-form'>
    <label> Change Location
      <input id='autocomplete' type='text'></input>
    </label>
  </form>
  <div class='show-area'></div>
</div>
