<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class='navbar main-nav'>
      <ul class="nav nav-pills nav-justified">
        <li class='nav-item'>
          <span class='title'>Marketplace</span>
        </li>
        <li class='nav-item'>
          <a href="#">INDEX</a>
        </li>
        <li class='nav-item'>
          <a href='#editFarmer'>EDIT FARMER</a>
          <!-- get this into account dropdown? -->
        </li>
        <li class='nav-item'>
          <a href='#addProducts'>ADD PRODUCTS</a>
        </li>
      </ul>
    </div>
  </nav>


<%= yield %>
<nav class='navbar favorites-bar'>


</nav>
</body>
</html>
