<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class='navbar'>
    <div class='title'>Marketplace</div>
      <ul>
        <li>
          <span class='title'>Marketplace</span>
        </li>
        <li>
          <a href="#">INDEX</a>
        </li>
        <li>
          <a href='#newFarmer'>ADD FARMER</a>
          <!-- get this into account dropdown? -->
        </li>
        <li>
          <a href='#addProducts'>ADD PRODUCTS</a>
        </li>
      </ul>
    </div>
  </nav>


<%= yield %>

</body>
</html>
